@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #0a0a0a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: white;
  color: black;
}

img {
  user-select: none;
}

* {
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease;
}
